.container {
    position: relative;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 70% 20%;

    .navbar {
        height: 100%;
        width: 100%;
        grid-column: 1 / 4;
        display: grid;
        place-items: center;

        h1 {
            color: #fff;
            font-size: 3rem;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .box {
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;

        .gameBoard {
            height: 60vh;
            width: 30vw;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);

            .grid, .gridd {
                z-index: 100;
                cursor: pointer;
                border: .1px solid #ffffff;
                background: #22aeff;
            }
        }
    }

    .ShipContainer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .buttons {

            button {
                background: #fff;
                color: #000;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 2rem;
                height: 3rem;
                width: 10rem;
                transition: 0.7s ease-in;

                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }

    #boxOne {
        grid-column: 1 / 2;
    }

    #boxTwo {
        grid-column: 2 / 3;
    }

    #boxThree {
        grid-column: 1 / 4;
        grid-row: 3 / 3;
    }
}