.container {
    position: relative;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 70% 20%;

    .intro {
        display: grid;
        grid-template-rows: 10% 90%;
        z-index: 1000;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: #000;

        .introOne {
            display: grid;
            place-items: center;

            #title {
                cursor: pointer;
                color: #fff;
                font-family: cursive, monospace, sans-serif;
                font-size: 3rem;
            }
        }

        .introTwo {
            display: grid;
            grid-template-rows: 70% 30%;

            .introTwoOne {
                display: grid;
                place-items: center;

                h1 {
                    color: #fff;
                    font-size: 5rem;
                    font-family: cursive, monospace, sans-serif;
                }
            }

            .introTwoTwo {
                display: flex;
                justify-content: center;
                align-items: center;

                #pvp, #pvc {
                    cursor: pointer;
                    font-family: cursive, monospace, sans-serif;
                    font-size: 1.5rem;
                    font-weight: 900;
                    margin: 0 1rem;
                    background: #fff;
                    color: #000;
                    border: none;
                    outline: none;
                    border-radius: 2rem;
                    height: 4rem;
                    width: 17rem;
                    transition: 0.7s ease-in;
    
                    &:hover {
                        color: #fff;
                        border: .1px solid #fff;
                        background: #000;
                    }
                }
            }
        }
    }

    .outro {
        display: none;
        place-items: center;
        z-index: 1000;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: #000;

        .outroDiv {
            border: solid #fff;
            border-radius: 10px;
            height: 80%;
            width: 80%;
            display: grid;
            grid-template-columns: 1fr;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

            .outroBtn {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    background: #fff;
                    cursor: pointer;
                    height: 40%;
                    width: 30%;
                    margin: 0 5rem;
                    border-radius: 10rem;
                    font-size: 3rem;
                    font-family: cursive, monospace, sans-serif;
                    color: #000;
                    transition: 0.7s ease-in-out;
    
                    &:hover {
                        color: #fff;
                        border: 1px solid #fff;
                        background: #000;
                    }
                }
            }
            
            .declareWinner {
                display: grid;
                place-items: center;
            }
        }

        .winnerStyle {
            color: #fff;
            font-size: 3rem;
            font-family: cursive, monospace, sans-serif;
        }
    }

    .pvpModal {
        display: none;
        place-items: center;
        z-index: 1000;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: #00000027;

        .pvpDiv {
            border: 1px solid #fff;
            border-radius: 1rem;
            background: #4fa1ff;
            display: grid;
            place-items: center;
            height: 60%;
            width: 55%;

            .playerDiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30%;
                width: 70%;

                form {
                    label {
                        font-size: 2.2rem;
                        color: #fff;
                    }

                    input {
                        margin: 0 .5rem;
                        height: 3rem;
                        width: 25rem;
                        font-size: 2rem;
                    }
                }

                button {
                    color: #fff;
                    background: #000;
                    cursor: pointer;
                    margin: 0 1rem;
                    height: 3rem;
                    width: 8rem;
                    border-radius: 10rem;
                    border: none;
                    outline: none;
                    transition: 0.7s ease-in-out;
                    
                    &:hover {
                        border: 1px solid #000000;
                        color: #000;
                        background: #fff;
                    }
                }
            }

            #playGame {
                color: #fff;
                background: #000;
                cursor: pointer;
                margin: 0 1rem;
                height: 3rem;
                width: 8rem;
                border-radius: 10rem;
                border: none;
                outline: none;
                transition: 0.7s ease-in-out;
                
                &:hover {
                    border: 1px solid #000000;
                    color: #000;
                    background: #fff;
                }
            }
        }
    }

    .navbar {
        height: 100%;
        width: 100%;
        grid-column: 1 / 4;
        display: grid;
        place-items: center;

        h1 {
            color: #fff;
            font-size: 3rem;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .box {
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;

        .gameBoard {
            height: 60vh;
            width: 30vw;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);

            .grid, .gridd {
                z-index: 100;
                cursor: pointer;
                border: .1px solid rgb(255, 255, 255);
                background: rgb(33, 174, 255);
            }

            .popup {
                animation: popping .7s;
            }
        }
    }

    .ShipContainer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .buttons {

            button {
                background: #fff;
                color: #000;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 2rem;
                height: 3rem;
                width: 10rem;
                transition: 0.7s ease-in;

                &:hover {
                    border: .1px solid #fff;
                    background: #000;
                    color: #fff;
                }
            }
        }

        .turnBox {
            border: solid red;
            height: 80%;
            width: 30vw;

            .textStyle {
                color: #fff;
                font-size: 3rem;
                font-family: cursive, sans-serif;
            }
        }

        // .turnOne {
        //     margin: 0 0 0 10rem;
        // }

        // .turnTwo {
        //     margin: 0 10rem 0 0;
        // }
    }

    #boxOne {
        grid-column: 1 / 2;
    }

    #boxTwo {
        grid-column: 2 / 3;
    }

    #boxThree {
        grid-column: 1 / 4;
        grid-row: 3 / 3;
    }
}


@keyframes popping {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
};


@keyframes slideIn {
    0% {
        height: 0;
    }

    100% {
        height: 100vh;
    }
};


@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
};
